@use "../mixins" as mixins;

.articleUnit {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.articleWithMediaQuery {
  @include mixins.article;

  @media screen and (width <= 768px) {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.splitLayoutWithMediaQuery {
  @include mixins.splitLayout();

  @media screen and (width <= 768px) {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
