@use "../mixins" as mixins;

.articleWithKeepAspectRatio {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: clamp(16px, 24 / 960 * 100cqi, 24px);
  padding: clamp(24px, 40 / 960 * 100cqi, 40 / 960 * 100cqi);
  font-size: clamp(0.875rem, 16 / 960 * 100cqi, 16 / 960 * 100cqi);
  background: #FFF;
  border-radius: 16px;

  @container (width <= 640px) {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  &_wrapper {
    container-type: inline-size;
  }

  &_side {
    display: grid;
    grid-template-columns: auto auto;
    gap: clamp(16px, 16 / 960 * 100cqi, 16 / 960 * 100cqi);
    place-content: flex-start;
    place-items: center;
    width: clamp(180px, 210 / 960 * 100cqi, 210 / 960 * 100cqi);
  }

  &_badge {
    @include mixins.badge;

    font-size: clamp(0.75rem, 14 / 960 * 100cqi, 14 / 960 * 100cqi);
  }

  &_title {
    display: block;
    font-size: clamp(1rem, 18 / 960 * 100cqi, 18 / 960 * 100cqi);
    line-height: 1.5;
  }
}
