@use "../mixins" as mixins;

.articleUnit {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.article {
  @include mixins.article;

  @container (width <= 640px) {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.splitLayout {
  @include mixins.splitLayout();

  @container (width <= 768px) {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
