.articleWithStyleQuery {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 32px;
  color: #404040;
  border-radius: 8px;
}
@container (width <= 640px) {
  .articleWithStyleQuery {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 16px;
    --timestamp-is-small: true;
    --badge-is-small: true;
    --title-is-small: true;
  }
}
.articleWithStyleQuery_wrapper {
  container-type: inline-size;
}
.articleWithStyleQuery_side {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  place-content: flex-start;
  place-items: center;
  width: 204px;
}

.timestamp {
  font-size: 1rem;
}
@container style(--timestamp-is-small: true) {
  .timestamp {
    font-size: 0.875rem;
    color: #8d0000;
  }
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  color: #fff;
  background: #7C71F6;
  border-radius: 8px;
  font-size: 0.875rem;
}
@container style(--badge-is-small: true) {
  .badge {
    font-size: 0.75rem;
    color: #fff;
    background-color: #8d0000;
  }
}

.title {
  display: block;
  font-size: 1.125rem;
  line-height: 1.5;
  display: block;
}
@container style(--title-is-small: true) {
  .title {
    font-size: 1rem;
    color: #8d0000;
  }
}
