* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 80px 16px 16px;
  font-family: sans-serif;
  color: #444;
  background: #F3F4F4;
  container: my-container / inline-size;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  font-family: inherit;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.heading {
  width: 100%;
  max-width: 960px;
  margin: 0 auto 32px;
  font-size: 2rem;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto 120px;
  overflow: auto;

  &_main {
    width: 100%;
    max-width: 960px;
    max-width: var(--value);
    margin: 0 auto;
  }
}

.sectionTitle {
  &_item {
    margin-top: -4px;
    font-size: 3rem;
    font-weight: bold;
    color: #404040;
  }
}

.range {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  align-items: center;

  &_value {
    max-width: 320px;
  }
}

.oneColumnLayout {
  padding: 40px;
  background: #FFF;
  border-radius: 16px;
}
